<div id="homePage"></div>
<section id="main-content" class="section hero hero-main">
  <img src="{{asset 'Shape-Background-white.svg'}}" alt="Shape right" class="hero-main-shape">
  <div class="hero-inner hero-inner-site">
    <div class="hero-inner-site-inside">
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      <h1><span>Waar kunnen we je</span> <br> <span>mee helpen?</span></h1>
      <p>Zoek in onze kennisbank voor antwoorden op <span>veelgestelde vragen.</span></p>
      
      <div class="search-container">
        <section class="search-box header__search-wrapper">
          {{search instant=true class='input-group-search search search-full search-form top-search-form' placeholder="Zoeken"}}
        </section>
      </div>
    </div>
  </div>
</section>

<div class="categories-container">
  <div class="container">
    <div class="categories-container-inner">

      <section class="categories blocks">
        <ul>
          {{#each categories}}
            <li class="category-name">
              <a href="{{url}}" class="category-name-title category-block-id1 category-block-{{id}}">{{name}}</a>
              <ul class="category-section-list">
              {{#each sections}}
                <li class="section-name">
                  <a href="{{url}}">{{name}}</a>
                </li>
              {{/each}}
              </ul>
              <a href="{{url}}" class="category-view-more">Toon meer</a>
            </li>
          {{/each}}
          
          {{pagination}}
          </ul>
          
      </section>
    </div>
  </div>
</div>

<div class="home-page-only-footer-wrapper">
<div class="container">
  <div class="home-page-only-footer-container-inner">
    <h3>Neem contact op via</h3>

    <div class="home-page-only-footer-block-wrapper">
      <div class="home-page-only-footer-block home-page-only-footer-block-phone">
        <a href="tel:088 123 28 28">
          <h4>088 123 28 28</h4>
          <p>Ma. - Vr.	08:00 - 17:00 </p>
        </a>
      </div>

      <div class="home-page-only-footer-block home-page-only-footer-block-mail">
        {{#link "new_request" class="submit-a-request" role="button"}}
        <h4>Aanvraag indienen</h4>
        <p>Binnen één werkdag</p>
        {{/link}}
      </div>
    </div>
  </div>
</div>
</div>